*{
    padding: 0;
    
}
body{
    padding: 0px;
    margin: 0px;
    background:linear-gradient(to bottom,rgba(0, 0, 0,0.7),rgba(0, 0, 0, 0.7)), url(../img/photo-1480714378408-67cf0d13bc1b.jpeg);
    background-size: cover;
    background-position: fixed;
    height: 100vh;
    overflow: hidden;
    box-shadow: 0 5px 50px rgba(0, 0, 0,0.5);
    box-sizing: border-box;
        
}
h1{
    color:white;
    font-size: 25px;
    margin: 13px;
}
form .search{
    border-radius:10px ;
    padding: 4px;
    color: black;
    font-size: 18px;
    margin: 13px;

}
form .suggestions{
    color:white;
    font-size: 25px;
    margin: 13px;
    
}
@media screen and (max-width:480px){

h1{
    color:white;
    font-size: 23px;
    text-align: center;
}
body{
    padding: 0px;
    margin: 0px;
    background:linear-gradient(to bottom,rgba(0, 0, 0,0.7),rgba(0, 0, 0, 0.7)), url(../img/photo-1480714378408-67cf0d13bc1b.jpeg);
    background-size: cover;
    background-position: fixed;
    height: 100vh;
     box-shadow: 0 5px 50px rgba(0, 0, 0,0.5);
    box-sizing: border-box;
    
}
.up{
    width: 800px;
    max-width: 80%;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 0px 10px 2px;
    margin: 15px;
    height: 100vh;
}
form .search{
    border-radius:15px ;
    padding: 2px;
    color: black;
    font-size: 18px;
    width: 75%;
    margin-left: 35.5px;
    margin-right: 17.5px;
    
}
input{
    text-align: center;
}
form .suggestions{
    color:white;
    font-size: 20px;
    margin: 3px;
    padding: 3px;
 text-align: center;   
}
}

@media screen and (max-width:320px){
    h1{
        color:white;
        font-size: 20px;
        margin: 7px;
        
    }
    form .suggestions{
        color:white;
        font-size: 17px;
        margin: 7px;
        padding: 3px;
        
    }
    .up{
        width: 800px;
        max-width: 80%;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0px 0px 10px 2px;
        margin: 15px;
        height: 100vh;
    }
}